In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
from pandas.core.indexes.interval import date_range
import numpy as np

In [4]:
dates = pd.date_range(start="2016-2-17", end="2022-11-30", freq="W")

df = pd.DataFrame()

for date in dates:
  url = "http://seepex-spot.rs/en/market-data/day-ahead-auction/"+str(date.strftime('%Y-%m-%d'))+"/RS"
  page = requests.get(url)
  soup = bs(page.text, "html.parser")
  table_hours = soup.find('table', class_="list hours responsive")
  
  headers = []

  for i in table_hours.find_all("th"):
    title = i.text.strip()
    headers.append(title)
    
  table_data = []

  for row in table_hours.find_all("tr")[1:]:
    data = row.find_all("td")
    table_data.append([td.text.strip() for td in data][2:])
  
  df = df.append(pd.DataFrame(table_data, columns=headers[2:]).T)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
"Mon, 15/02",N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,NaN,NaN
"Tue, 16/02",N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,NaN,NaN
"Wed, 17/02",N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,NaN,NaN
"Thu, 18/02","12,49","100,0","10,79","100,0","9,29","95,0","9,29","95,0","10,74","100,0",...,"28,64","100,0","24,93","28,6","19,98","100,0","17,06","100,0",NaN,NaN
"Fri, 19/02","10,08","100,0","8,98","119,0","8,96","119,0","8,94","119,0","8,94","119,0",...,"28,55","74,0","24,60",0,"20,70","50,0","17,07","17,2",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wed, 23/11","70,75","511,0","65,31","576,0","64,25","573,0","59,06","549,0","63,44","573,0",...,"245,16","467,0","214,29","481,0","188,02","521,0","129,07","577,2",NaN,NaN
"Thu, 24/11","170,89","482,0","159,97","483,0","119,93","486,0","115,00","509,0","123,36","482,0",...,"293,49","359,0","249,22","384,0","245,94","375,0","184,80","423,0",NaN,NaN
"Fri, 25/11","192,41","272,0","163,09","399,0","147,08","481,0","143,80","535,0","150,16","524,0",...,"297,85","386,0","278,73","332,0","276,66","397,0","221,70","471,0",NaN,NaN
"Sat, 26/11","214,68","358,0","194,82","426,9","183,40","463,0","174,20","486,0","181,94","461,0",...,"268,59","341,0","230,94","350,0","222,98","335,0","194,22","361,0",NaN,NaN
"Sun, 27/11","173,93","414,2","153,18","374,1","139,72","399,0","128,63","437,0","124,56","416,0",...,"228,37","413,0","218,13","406,0","195,29","417,0","171,10","404,0",NaN,NaN